
body{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: blue;
}
a:hover{
    color:green;
}


/*------------------Navigation Section---------------------*/
nav {
    background-color: aliceblue;

}

.logo, .menu{
    display: inline-block;
    

}
.logo{
    background-image: url(https://i.postimg.cc/N0b9pvVc/scaleit.jpg);
    background-repeat: no-repeat;
    background-position: left ;
    background-size: cover;
    
}

.logo a{
    text-decoration: none;
    color: white;
}

.menu{
    float: right;
    margin: 0;
    border:10px;

}
.menu ul{

    list-style: none;
}
.menu ul li{
    display: inline-block;
    font-size: 16px;
    
}

.menu ul li a{
    text-decoration: none;
    border: 10px;
    padding-top: 15px;
    padding-bottom:30px;
    padding-left:20px;
    padding-right: 20px;
    font-size: 18px;
    
    
   
}

.menu ul li a:hover{
    color:red;
    background-color:rgb(168, 188, 206);
    transition: all 0.5s ease;
    border:1px hidden black;
    font-size: 18px;
    border-radius: 10%;
    text-align: center;
}
/*-----------End of the Navigation Section---------------*/

/*---------------Header Section------------------*/

header{
    background-image: url(https://i.postimg.cc/3JDG76yX/scale.jpg);
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    padding-bottom: 100px;   
    max-width: 100%; 
    max-height: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

header h1{
    margin:0px;
}
.container{
    text-align: center;
    padding-top: 100px;
    position: relative;
}

.container h1{
    font-size: 40px;
}
.container p{
    font-size: 30px;
    color: rgb(252, 248, 56);
}
.view{
    background-color: aliceblue;
    margin: 20px;
    padding: 10px;
    color:rgb(37, 187, 224);
    text-decoration:none;
    display: inline-block;
    font-weight: bold;
    border-radius: inherit;
   transition: all 0.5s ease;
   border: 1px solid white;
  
}

.view:hover{
    border: 1px solid rgb(37, 187, 224);
    padding: 20px;    
    background-color: rgb(236, 239, 241);
    border-radius: 20px;
    
}


/*---------About me Section-----------*/
.about{
    width: 100%;
    margin-bottom: 300px;
    padding-top: 5%;
}
.about h1{
    padding-left:420px;
}
.about .col-left, .about .col-center, .about .col-right {
    width:100%;

}
.about .col-left img{
    max-width: 300px;
    height: auto;
    background-size: contain;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}
.about .col-center{
    text-align: justify;
    
}
.about .col-right img{
    max-width: 100%;
    height: 200px;
    float: right;
    padding-right: 5%;
}
.note{
    padding-top: 80px;
  padding-left: 15%;
    position: absolute;
    float: left;
    text-align: center;
}
/* --------------------Before Apply---------------------- **/

.beforeapply{
background-color: rgb(231, 230, 230);
margin-top: 50px;
text-align: center;
width: auto; 
color: black;
text-decoration: none;
padding-top: 70px;
padding: 70px;
}

.beforeapply::after{
    content: "";
    display:block;
    clear: both;
}
.beforeapply .left, .beforeapply .center, .beforeapply .right 
{
text-align: center;
display: inline-block;
width: 33.3%;
float: left;

}
.beforeapply .left img, .beforeapply .center img, .beforeapply .right img {
    width: 150px;
    height: auto;
    padding-bottom: 10px;
}
.beforeapply .left img:hover, .beforeapply .center img:hover, .beforeapply .right img:hover{
    border: 1px solid black;
}
.beforeapply .center img{
    width: 100px;
    height: 100px;
    padding-bottom: 5px;
 
   

}        
/*--------I tried to make hover effect and wanted to if smb hover sololearn my certificates showed up. but I cannot yet
.beforeapply .center img:hover{
    background-image: url(https://i.postimg.cc/SR8d3KC5/solo.jpg);
    width: 100%;
    height: auto;
    transition: all 0.5s ease; 
    background-position: inherit;
}
*/
.beforeapply h5{
text-decoration: underline;
}
.beforeapply .right img{
    width: 200px;
    height: auto;
    padding-top: 35px;
    padding-bottom: 35px;
}
.beforeapply i{
    font-size: 50px;
    padding: 10px;
    
}
.fa-html5{
    color:#e34f26;
}
.fa-css3-alt{
color:#002561}

.fa-js{color: #f7df1e}

/*--------------Certificates-------------------*/

.certificates {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
   
}

.certificates ul{
    list-style: none;
    padding-top: 10px;
    margin-bottom: 50px;
    background-color: #cedcf5;
    color: rgb(102, 94, 94);
    font-weight: 900;
   

}
    
    .certificates ul li{
        display: inline-block;
        padding:140px;
        margin: 20px;
       
    }
    .certificates .html:hover{
    background-image: url(https://i.postimg.cc/8c9dbf59/html.jpg);
    background-position: center;
    background-size: contain;
    transition: all 0.5s ease;
    }
    .certificates .css:hover{
        background-image: url(https://i.postimg.cc/mrkDTXV3/cert-1023-12544740.jpg);
        background-position: center;
        background-size: contain;
        transition: all 0.5s ease;
    }
    .certificates .js:hover{
            background-image: url(https://i.postimg.cc/SxDRFFLN/cert-1024-12544740.jpg);
            background-position: center;
            background-size: contain;
            transition: all 0.5s ease;
        }  

.hyfimg{
    margin:10px;
    padding:10px;
    background-image: url(https://i.vimeocdn.com/video/745581666.webp?mw=800&mh=450&q=70);
    height:400px;
    width: auto;
    position: relative;
}
.myCV h1{
border: 100px;
padding-bottom: 50px;
text-align: center;
color: black;

}

.myCV h1 em{
    text-decoration:underline;}
    

 /*-------------Footer--------------*/

 footer{
   
    margin-bottom: 40px;

 }
 footer h1{
     text-align: center;
     text-decoration: underline;
 }
 footer p{
    text-align: center;
    color: blue;
 }
 footer ul{
   
    width:400px;
    margin-left: 90px;
    padding-left: 450px;
   
 }
 footer li{
    list-style: none; 
    width: 100px;
    height: auto;
    display: inline-block;


 }

 
 .fa-github, .fa-codepen{
    font-size: 50px;
    padding: 5px;  
    color: black !important; 

 }
 .fa-github:hover, .fa-codepen:hover{
 
  font-size: 70px;}
